@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecedf3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
body{
    color: #ecf0f3;
}

img{
    width: 80px;
    margin-left: 35%;
    
}

.imgname{
    color: #006eff;
    margin-left: 34%;
}

.lgnbox{
    color:black;
    
    
}

input#email{
    margin-left: 34px;
}

.password{
    padding-top: 10%;
    padding-bottom: 10%;
}



button{
    margin-left: 34%;
    margin-bottom: 10%;
}

h3{
    color: #006eff;
}

.socialmedia{
    display: flex;
}

.copyright{
    margin-top: 200px;
    color:#006eff ;
}
